<!-- 
<div id="wrapper">
  <div class="col-md-3 img-responsive"><a href="/hot"><input type="image" src="/images/hot.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Hot Drinks</p></a></div>
  <div class="col-md-3 img-responsive"><a href="/cold"><input type="image" src="/images/cold.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Cold Drinks</p></a></div>
  <div class="col-md-3 img-responsive"><a href="/food"><input type="image" src="/images/food.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Food</p></a></div>
  <div class="col-md-3 img-responsive"><a href="/all"><input type="image" src="/images/swirl.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">All Items</p></a></div>
</div>
<div class="space"><p></p><br><br></div> -->


<div class="row">

	<div id="roundMenu" class="col-md-3">
		<figure>
		  <a href="/hot"><img class="img-responsive" src="/images/hot.jpg" alt="Hot Drink Items">
		  <figcaption class="text-center">Hot Drinks</figcaption></a>
		</figure>
	</div>

	<div id="roundMenu" class="col-md-3">
		<figure>
		  <a href="/cold"><img class="img-responsive" src="/images/cold.jpg" alt="Cold Drink Items">
		  <figcaption class="text-center">Cold Drinks</figcaption></a>
		</figure>
	</div>

	<div id="roundMenu" class="col-md-3">
		<figure>
		  <a href="/food"><img class="img-responsive" src="/images/food.jpg" alt="Food Items">
		  <figcaption class="text-center">Food Items</figcaption></a>
		</figure>
	</div>

	<div id="roundMenu" class="col-md-3">
		<figure>
		  <a href="/all"><img class="img-responsive" src="/images/swirl.jpg" alt="All Items">
		  <figcaption class="text-center">All Items</figcaption></a>
		</figure>
	</div>

</div>