{{> header }}
<title>About</title>
<h1 style="color: white; font-size: 50px;" class="text-center"><b>About Us</b></h1>


<div style="display: flex; margin-bottom: 20%;">
<div style="width: 32%; height: 400px;"><img src="/images/2cups.jpg"></div>

  <h4><div class="jumbotron text-center"><b>
    Jitz is dedicated to bringing you the best coffees available to us.  We roast in house to guarantee freshness and quality of product, and buy responsibly to ensure sustainability of product and farmers.  We also love featuring  some fantastic coffees from roasters all over the U.S. If you would like to know more, <a href="mailto:kantaris96@mycodergv.org?Subject=Hello%20again" target="_top"> email us.</a> We love to talk about our coffee!
  </b></div></h4>
</div>



</div>

  {{> footer }}
